.conteiner{
    background-color: #FFC0CB;
}

.bordo{
    border: 1px solid black;
}

p{
    text-align: center;
    padding: 100px 0;
    
}

.nested{
    background-color: #F07F80;
    width: 98%;
    margin: 5px;
}